@tailwind base;
@tailwind components;
@tailwind utilities;

.covered-by-your-grace-regular {
  font-family: "Covered By Your Grace", serif;
  font-weight: 400;
  font-style: normal;
}

.covered-by-your-grace-light {
  font-family: "Covered By Your Grace", serif;
}

.golos-text-normal {
  font-family: "Golos Text", serif;
}

@keyframes rotateTopBottom {
  0% {
    transform: rotate(0deg) translateY(0);
  }
  50% {
    transform: rotate(30deg) translateY(-20px);
  }
  70% {
    transform: rotate(-30deg) translateY(0);
  }
  100% {
    transform: rotate(0deg) translateY(0);
  }
}

.rotate-animation {
  animation: rotateTopBottom 6s infinite ease-in-out;
  transform-origin: top right;
  position: absolute;
  top: 0;
  right: 0;
}

.stroke {
  -webkit-text-stroke: 2px #000;
  text-stroke: 2px #000; /* Fallback */
}

.orange-gradient {
  background: linear-gradient(90deg, #fff9f9 -18.58%, #ea4d4e 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.yellow-gradient {
  background: linear-gradient(90deg, #fff -47.83%, #acff3c 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.no-spin::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.no-spin {
  -moz-appearance: textfield; /* For Firefox */
}

@media (max-width: 640px) {
  .stroke {
    -webkit-text-stroke: 1px #000;
    text-stroke: 1px #000; /* Fallback */
  }
}

/* Custom Scrollbar Styles */
*::-webkit-scrollbar {
  width: 12px; /* Scrollbar width */
  height: 12px; /* Scrollbar height */
  background-color: #000000; /* Scrollbar track (background) */
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #ff0000, #8b0000); /* Scrollbar thumb */
  border-radius: 6px; /* Rounded corners */
  border: 3px solid #000000; /* Space around the thumb */
}

*::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #ff4040, #ff0000); /* Thumb on hover */
}

*::-webkit-scrollbar-thumb:active {
  background: linear-gradient(
    180deg,
    #ff8080,
    #ff4040
  ); /* Thumb on active click */
}
